:root {
    /* Variable de colores */
    --primary--color:#FA7436;
    --secondary--color: #FEFCFB;
    --text-primary-color: #222222;
    --text-description-color:#666666;
    --background-shadow:#FD8D3A;
    --background-cards-color:#F7F8FC;
    --description-user-color: #444444;
  
    /* Variable de Fuentes */
    --fuente-volkhov: 'Volkhov', serif;
    --fuente-poppins: 'Poppins', sans-serif;
}

/* HTML limpio */
body {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--secondary--color);
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Header */
header{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.brand-container{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
}

.brand-container h1{
    font-family: var(--fuente-volkhov);
    font-size: 24px;
    font-weight: bold;
    color: var(--text-primary-color);
}

.brand-container img{
    height: 25px;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header ul{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: flex-start;
    gap: 4em;
}

.nav-header a{
    font-family: var(--fuente-poppins);
    font-size: 16px;
    font-weight: normal;
    color: var(--text-primary-color);
}
.nav-header a:hover{
    color: var(--background-shadow);
}

.header-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.header-buttons a{
    font-family: var(--fuente-poppins);
    font-size: 16px;
    font-weight: 600;
}

.btn{
    padding: 15px 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    text-align: center;
}

.login {
    line-height: 24px;
    color: var(--background-shadow);
    transition: transform .2s;
}
  
.singUp {
    line-height: 24px;
    white-space: nowrap;
    color: var(--secondary--color);
    background: var(--primary--color);
    box-shadow: 0px 0px 20px -3px var(--background-shadow);
}

.login:hover{
    border: 1px solid var(--background-shadow);
    color: var(--background-shadow);
    text-shadow: 0px 0px 12px var(--background-shadow);
}

.singUp:hover{
    border: 1px solid var(--background-shadow);
    background-color: var(--secondary--color);
    color: var(--background-shadow);
    text-shadow: 0px 0px 12px var(--background-shadow);
}

/* Contenido principal */
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 200px;
}

.content-wrapper{
    display: grid;
    grid-template-rows: 2fr 1fr 0.5fr;
    align-items: center;
}

.content-wrapper h2{
    font-family: var(--fuente-volkhov);
    font-size: 3.5em;
    font-weight: bold;
}
.content-wrapper h2 span{
    color: var(--primary--color);
}

.content-wrapper p{
    font-family: var(--fuente-poppins);
    color: var(--text-description-color);
    font-size: 20px;
    font-weight: normal;
}

.discover-btn{
    font-family: var(--fuente-poppins);
    line-height: 24px;
    margin-left: 2em;
    white-space: nowrap;
    color: var(--secondary--color);
    background: var(--primary--color);
    box-shadow: 0px 0px 20px -3px var(--background-shadow);
}

.discover-btn:hover{
    border: 1px solid var(--background-shadow);
    background-color: var(--secondary--color);
    color: var(--background-shadow);
    text-shadow: 0px 0px 12px var(--background-shadow);
}

.image-wrapper{
    width: 700px;
    height: auto;
}

.info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
}
.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    font-family: var(--fuente-poppins);
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    gap: 3em;
}

.info-item h3{
    font-size: 16px;
    font-weight: 500;
}

.arrow-down {
    display: inline-block;
    width: 15px; 
    height: 20px;
    background-image: url('../img/main-content/flecha.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    margin-left: 5px;
    margin-bottom: -10px;
}

.info-item p{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-description-color);
}

.info-btn-container{
    cursor: pointer;
    background: var(--primary--color);
    box-shadow: 0px 0px 20px -3px var(--background-shadow);
}
.info-btn-container:hover{
    border: 1px solid var(--background-shadow);
    background-color: var(--secondary--color);
}

.info-btn-container:hover .explore-btn{
    color: var(--background-shadow);
    text-shadow: 0px 0px 12px var(--background-shadow);
}

.explore-btn{
    color: var(--secondary--color);
}

/* Things you need to do */
.things-to-do{
    background-color: var(--background-cards-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 100px;
}
.planes{
    position: absolute;
    top: 25%;
    right: 15%;
    transform: translateY(-50%);
}

.text{
    text-align: center;
    z-index: 100;
}

.text h3{
    font-family: var(--fuente-volkhov);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text h3 span{
    color: var(--primary--color);
}

.text p{
    max-width: 500px;
    font-family: var(--fuente-poppins);
    font-size: 18px;
    font-weight: 400;
    color: var(--text-description-color);
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 2em;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: var(--fuente-poppins);
    border-radius: 15px;
    padding: 30px;
    gap: 2em;
}
.card1{
    background-image: url(../img/card-to-do/fondo-1.svg);
}
.card2{
    background-image: url(../img/card-to-do/fondo-2.svg);
}
.card3{
    background-image: url(../img/card-to-do/fondo-3.svg);
}

.card img{
    width: 40px;
}

.card h4{
    font-size: 24px;
    font-weight: 600;
}

.card span{
    color: var(--text-description-color);
    font-size: 16px;
    font-weight: 400;
}

/* Exclusive deals & discounts */

/* Best vacation plan */

.nameCity {
    margin-right: 70px;
    gap: 70px
}

.priceTicket {
    padding-left: 30px;
}


/* What people say about us */
.testimonials{
    background-color: var(--background-cards-color);
    display: flex;
    align-items: center;
    position: relative;
    padding: 100px;
    z-index: 0;
}

.testimonials_cards{
    display: grid;
    width: 50%;
    margin-top: 50px;
    gap: 2em;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.test_card{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: var(--fuente-poppins);
    border-radius: 15px;
    padding: 30px;
    gap: 1em;
    position: relative;
}

.test_card::after{
   
    width: 502px;
    height: 224px;
    border-radius: 15px;
    padding: 30px;
    gap: 1em;
    position: absolute;
    content: '';
    left: 90px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    z-index: -1;
    top: 75px;
    right: 75px;
}
.photo{
    width: 50px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
}
.planes_about_us {
    width: 250px;
    height: 250px;
    z-index: -1;
    right: 0;
    top: 125px;
}
.tes_title{
    z-index: 100;
}

.tes_title h3{
    font-family: var(--fuente-volkhov);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
}

.tes_title h3 span{
    color: var(--primary--color);
}

.tes_title p{
    max-width: 500px;
    font-family: var(--fuente-poppins);
    font-size: 18px;
    font-weight: 400;
    color: var(--text-description-color);
}

.btn-Testimonial-left {
    height: 40px;
    width: 40px;
    border: none;
    background-color: var(--secondary--color);
    border: 1px solid var(--text-description-color);
    border-radius: 50%;
}

.btn-Testimonial-right {
    height: 40px;
    width: 40px;
    border: none;
    background-color: var(--primary--color);
    border: 1px solid var(--primary--color);
    border-radius: 50%;
}

/* Exclusive deals */

.titleAndSubtitleContainer {
    display: grid;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subtitleDiscounts {
    height: 64px;
    top: 1921px;
    left: 758px;
    gap: 0px;
    opacity: 0px;
}

.madrid {
    padding-right: 20px;
}

.containerRaiting {
    padding-right: 2px;
}


.custom-image {
    margin-bottom: 20px; /* Margen inferior para evitar que se entrecorte la información */
    width: 100%; /* Ajuste de ancho al 100% */
    height: auto; /* Altura automática */
    object-fit: cover; /* Ajuste de la imagen para cubrir completamente el contenedor */
}

.gray-text {
    color: gray;
}

.cityContainer {
    gap: 5px; /* Separación entre columnas */
}

.icon {
    margin-bottom: 2px; /* Separación entre íconos y texto */
}

.rating {
    margin-right: 2px; /* Separación entre rating e ícono */
}

.price-container {
    width: 40px;
    height: 28px;
    top: 2415px;
    left: 591px;
    gap: 5px;
    border-radius: 8px;
    opacity: 0px;
    background-color: #FFE7DB; /* Añadido el background */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinear los elementos al extremo derecho */
}

.price {
    display: block;
    color: #FA7436;
    margin-right: 3px; /* Hacer que las cifras se muestren en líneas separadas */
}

.old-price {
    text-decoration: line-through; /* Agregado para tachar el precio antiguo */
    color: gray; /* Color gris para el precio antiguo */
}

.containerCityDestination {
    gap: 5px;
}

.Cities-container {
    border: 2px solid #66666614;
    border-radius: 8px;
    background-color: #FEFCFB;

}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.roundButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grayButton {
    border-color: #ccc;
}

.orangeButton {
    border-color: orange;
}

.arrowLeft,
.arrowRight {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.arrowLeft {
    border-right: 10px solid black;
}

.arrowRight {
    border-left: 10px solid #fff;
}

/* Best Vacation Plans */

.vacation-plan {
    margin-top: 100px;
}

.cityVacationPlan {
    display: grid;
    grid-template-columns: auto;
    height: 447px;
    width: 370px;
    gap: 10px;
    border-radius: 20px;
    margin-bottom: 70px;
    background-color: #FFFFFF;
    border: 2px #66666614;
}

.cityImage {
    width: 369px;
    height: 327px;
    border-radius: 16px;
}

.infoGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.infoRow {
    display: flex;
    align-items: center;
}

.cityName {
    margin-right: auto;
}

.cityPrice {
    margin-left: auto;
}

.iconContainer {
    display: flex;
    align-items: center;
}

.icon {
    width: 12.57px;
    height: 16px;
}

.iconText {
    margin-left: 2px;
}

.infoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
     /* Alinear al extremo izquierdo y derecho */
}

.iconContainer:first-child {
    margin-left: 10px; /* Restaurar margen izquierdo predeterminado */
}

.iconContainer:last-child {
    margin-left: 10px; /* Alinear al extremo derecho */
    
}

.officialPrice {
    color: var(--primary--color);
    font-weight:bold;
}
/* Get update with latest blog */

.blogTitle {
    margin-top: 20px;
    font-size: 18px;
}

.blogSubtitle {
    margin-top: 10px;
    font-size: 18px;
    color: #999999;
}

/* Subscribe */
.subs_content {
    background-image: url('../img/main-content/bg_subscribe.png');
    background-color: var(--primary--color);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 443px;
    
}

.subs_content h2 {
    font-family: var(--fuente-volkhov);
    font-size: 54px;
    font-weight: bold;
    color: var(--secondary--color);
    margin-bottom: 20px;
}
.btn-subs {
    background-color: var(--primary--color);
}
.inp-subs {
    border: none;
}

/* footer */
.subsTrabook {
    font-family: var(--fuente-volkhov);
    font-size: 24px;
    font-weight: 700;
}
