:root {
    /* Variable de colores */
    --primary--color:#FA7436;
    --secondary--color: #FEFCFB;
    --text-primary-color: #222222;
    --text-description-color:#666666;
    --background-shadow:#FD8D3A;
    --background-cards-color:#F7F8FC;
    --description-user-color: #444444;
  
    /* Variable de Fuentes */
    --fuente-volkhov: 'Volkhov', serif;
    --fuente-poppins: 'Poppins', sans-serif;
}

/* HTML limpio */
body {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--secondary--color);
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Header */
header{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.brand-container{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
}

.brand-container h1{
    font-family: var(--fuente-volkhov);
    font-size: 24px;
    font-weight: bold;
    color: var(--text-primary-color);
}

.brand-container img{
    height: 25px;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header ul{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: flex-start;
    gap: 4em;
}

.nav-header a{
    font-family: var(--fuente-poppins);
    font-size: 16px;
    font-weight: normal;
    color: var(--text-primary-color);
}
.nav-header a:hover{
    color: var(--background-shadow);
}

.header-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.header-buttons a{
    font-family: var(--fuente-poppins);
    font-size: 16px;
    font-weight: 600;
}

.btn{
    padding: 15px 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    text-align: center;
}

.login {
    line-height: 24px;
    color: var(--background-shadow);
    transition: transform .2s;
}
  
.singUp {
    line-height: 24px;
    white-space: nowrap;
    color: var(--secondary--color);
    background: var(--primary--color);
    box-shadow: 0px 0px 20px -3px var(--background-shadow);
}

.login:hover{
    border: 1px solid var(--background-shadow);
    text-shadow: 0px 0px 12px var(--background-shadow);
}

.singUp:hover{
    border: 1px solid var(--background-shadow);
    background-color: var(--secondary--color);
    color: var(--background-shadow);
    text-shadow: 0px 0px 12px var(--background-shadow);
}

/* Contenido principal */
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 200px;
}

.content-wrapper{
    display: grid;
    grid-template-rows: 2fr 1fr 0.5fr;
    align-items: center;
}

.content-wrapper h2{
    font-family: var(--fuente-volkhov);
    font-size: 3.5em;
    font-weight: bold;
}
.content-wrapper h2 span{
    color: var(--primary--color);
}

.content-wrapper p{
    font-family: var(--fuente-poppins);
    color: var(--text-description-color);
    font-size: 20px;
    font-weight: normal;
}

.discover-btn{
    font-family: var(--fuente-poppins);
    line-height: 24px;
    margin-left: 2em;
    white-space: nowrap;
    color: var(--secondary--color);
    background: var(--primary--color);
    box-shadow: 0px 0px 20px -3px var(--background-shadow);
}

.discover-btn:hover{
    border: 1px solid var(--background-shadow);
    background-color: var(--secondary--color);
    color: var(--background-shadow);
    text-shadow: 0px 0px 12px var(--background-shadow);
}

.image-wrapper{
    width: 700px;
    height: auto;
}

.info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
}
.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    font-family: var(--fuente-poppins);
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    gap: 3em;
}

.info-item h3{
    font-size: 16px;
    font-weight: 500;
}

.arrow-down {
    display: inline-block;
    width: 15px; 
    height: 20px;
    background-image: url('../img/main-content/flecha.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    margin-left: 5px;
    margin-bottom: -10px;
}

.info-item p{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-description-color);
}

.info-btn-container{
    cursor: pointer;
    background: var(--primary--color);
    box-shadow: 0px 0px 20px -3px var(--background-shadow);
}
.info-btn-container:hover{
    border: 1px solid var(--background-shadow);
    background-color: var(--secondary--color);
}

.info-btn-container:hover .explore-btn{
    color: var(--background-shadow);
    text-shadow: 0px 0px 12px var(--background-shadow);
}

.explore-btn{
    color: var(--secondary--color);
}

/* Things you need to do */
.things-to-do{
    background-color: var(--background-cards-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 100px;
}
.planes{
    position: absolute;
    top: 25%;
    right: 15%;
    transform: translateY(-50%);
}

.text{
    text-align: center;
    z-index: 100;
}

.text h3{
    font-family: var(--fuente-volkhov);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text h3 span{
    color: var(--primary--color);
}

.text p{
    max-width: 500px;
    font-family: var(--fuente-poppins);
    font-size: 18px;
    font-weight: 400;
    color: var(--text-description-color);
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 2em;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: var(--fuente-poppins);
    border-radius: 15px;
    padding: 30px;
    gap: 2em;
}
.card1{
    background-image: url(../img/card-to-do/fondo-1.svg);
}
.card2{
    background-image: url(../img/card-to-do/fondo-2.svg);
}
.card3{
    background-image: url(../img/card-to-do/fondo-3.svg);
}

.card img{
    width: 40px;
}

.card h4{
    font-size: 24px;
    font-weight: 600;
}

.card span{
    color: var(--text-description-color);
    font-size: 16px;
    font-weight: 400;
}

/* Exclusive deals & discounts */

/* Best vacation plan */

/* What people say about us */

/* Get update with latest blog */

/* Subscribe */

/* footer */
